@import 'colors';
@import 'font';

@import 'schedule';
@import 'login';

body {
    background-color: $body-color;
}

.my-tabs {
    background-color: $body-color;

    & ul {
        padding-left: 10%;
        border-bottom: none;
    }

    & li[role="presentation"] {
        height: 70px;
        background: $body-color;
        width: 20%;
        & a {
            height: 100%;
            border-radius: 0px;
            color: $text-color;
            text-align: center;
            padding-top: 20px;
            font-size: 18px;
        }
        &.active {
            & a {
                background: $selected-tab;
                color: $text-color;
            }
            & a:hover {
                border-color: transparent;
                background-color: $selected-tab;
            }
            & a:focus {
                outline: none;
                background-color: $selected-tab;
            }
        }
    }
}

.options-nestedpage {
    & .panel {
        box-shadow: none;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0px;
        float: left;
        border-color: $selected-tab;

        & .panel-heading {
            background: $selected-tab;
            color: $text-color;
            border-color: transparent;
        }
    }
}

.my-page {
    margin: auto;
    margin-top: 3%;
    width: 50%;
    max-height: 700px;
    box-shadow: 1px 1px 1px grey;
    border-color: $page-header-color;
    & .panel-heading {
        background: $page-header-color;
        font-size: 18px;
    }
    &.options-page {
        height: 80%;
    }
}

.my-table {
    width: 70%;
    & tbody tr td {
        border-top: none;
    }
}
