$body-color: #FAFAFA;
$text-color: #003d4d;
$selected-tab: #edece5;
$page-header-color: #003d4d;

$font-size-medium: 16px;
$font-size-big: 18px;

$font-weight-medium: 700;

$sub-cell-height: 25px;
body {
    background-color: $body-color;
}

.my-tabs {
    background-color: $body-color;

    & ul {
        padding-left: 10%;
        border-bottom: none;
    }

    & li[role="presentation"] {
        height: 70px;
        background: $body-color;
        width: 20%;
        & a {
            height: 100%;
            border-radius: 0px;
            color: $text-color;
            text-align: center;
            padding-top: 20px;
            font-size: 18px;
        }
        &.active {
            & a {
                background: $selected-tab;
                color: $text-color;
            }
            & a:hover {
                border-color: transparent;
                background-color: $selected-tab;
            }
            & a:focus {
                outline: none;
                background-color: $selected-tab;
            }
        }
    }
}

.options-nestedpage {
    & .panel {
        box-shadow: none;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 0px;
        float: left;
        border-color: $selected-tab;

        & .panel-heading {
            background: $selected-tab;
            color: $text-color;
            border-color: transparent;
        }
    }
}

.my-page {
    margin: auto;
    margin-top: 3%;
    width: 50%;
    max-height: 700px;
    box-shadow: 1px 1px 1px grey;
    border-color: $page-header-color;
    & .panel-heading {
        background: $page-header-color;
        font-size: 18px;
    }
    &.options-page {
        height: 80%;
    }
}

.my-schedule-page {
    margin: auto;
    margin-top: 3%;
    max-height: 700px;
    width: 100%;

    & .container {
        margin-left: 4%;
        width: 100%;
        margin-right: 4%;

        & .my-shedule-col {
            margin: 10px;
        }
    }
    & .schedule-table {
        background: white;
        & thead {
            background: $page-header-color;
            text-align: center;
            color: $selected-tab;
            font-size: $font-size-big;
        }

        & tbody {
            td:first-child {
                cursor: pointer;
            }

            td {
                padding: 0px;
                text-align: center;
                color: $page-header-color;
                vertical-align: middle;

                & .form-group {
                    margin: 0px;

                    & .form-control {
                        border-radius: 0px;
                        height: $sub-cell-height;
                        text-align: center;
                    }
                }


            }
        }
    }

    & .teachers-list-header {
        background: $page-header-color;
        color: $selected-tab;
        font-size: $font-size-big;
        height: auto;
        width: auto;
    }
}

.my-table {
    width: 70%;
    & tbody tr td {
        border-top: none;
    }
}

%sub {
    width: 100%;
    height: $sub-cell-height;
}

.ch {
    @extend %sub;
    border-bottom: 1px solid #ddd;
}

.zn {
    @extend %sub;
}
