doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/bootstrap.css')
    llink(rel='stylesheet' href='/stylesheets/bootstrap-theme.css')
    llink(rel='stylesheet' href='/libraries/jquery.qtip.min.css')
    script(src='/javascripts/main.js')
  body
    #content
